* {
 margin: 0;
 padding: 0;
 font-family: 'Roboto Mono', monospace;
}
html {
    background-color: slategray;
}

body {
    overflow-y: hidden;
}

.wrap {
    margin: 10% 10% 10% 30%;
    height: 500px;
    width: 500px;
    border: solid black 3px; 
    position: relative;
    background-color: white;
}

.space, .square {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    position: absolute;
}

.square {
    border: solid black 1px;
    top: -100px;
}

div div {
    position: absolute;
}

.active {
    width: 400px;
    height: 250px;
    line-height: 125px;
    background-color: black;
    top: 125px;
    left: 50px;
    opacity: 0.9;
    z-index: 2;
    border: white 2px solid;
}

.info {
    font-size: 34px;
    color: deeppink;
    text-align: center;
    display: none;
}

.crushed, .moves, .highscores {
    width: 220px;
    height: 30px;
    background-color: darkgray;
    position: absolute;
    left: -240px;
    top: 20px;
    text-align: center;
    line-height: 30px;
}

.moves {
    width: 120px;
    left: 20px;
    top: -50px;
    z-index: 3;
}

.pointsSpan, .movesSpan {
    font-weight: bold;
}

.curtain {
    width: 505px;
    height: 103px;
    background-color: slategray;
    position: absolute;
    top: -106px;
    z-index: 2;
}

.wrapBorder {
    width: 1px;
    height: 503px;
    background-color: black;
    z-index: 4;
    top: -3px;
}

.right {
    width: 1px;
    height: 503px;
    left: 499px;
    z-index: 4;
    background-color: black;
}

.down {
    width: 500px;
    height: 1px;
    top: 502px;
    background-color: black;
}

.up {
    width: 500px;
    height: 1px;
    background-color: black;
    top: 3px;
}

.gameOver {
    font-size: 60px;
    color: red;
    text-align: center;
    display: none;
    text-transform: uppercase;
    line-height: 150px;
}

.newGame, .changePlayer {
    width: 300px;
    height: 40px;
    background-color: white;
    opacity: 1;
    bottom: 80px;
    left: 48px;
    border-radius: 10px 10px;
    line-height: 40px;
}

.changePlayer {
    bottom: 30px;
}

.newGame p, .changePlayer p {
    font-size: 20px;
    letter-spacing: 3px;
    color: black;
    font-weight: bold;
}

.newGame:hover, .infoDiv:hover, .startButtonActive:hover, .changePlayer, .instructionButton, .music, .musicChoice, .howToPlay button {
    cursor: pointer;
}

.highscores {
    height: 350px;
    position: relative;
    top: 100px;
    text-align: center;
    line-height: 35px;
    z-index: 3;
    font-weight: bold;
}

.startInputActive {
    width: 300px;
    height: 40px;
    background-color: white;
    opacity: 1;
    bottom: 35px;
    left: 48px;
    line-height: 40px;
    position: absolute;
    left: 50px;
    top: 150px;
    font-size: 20px;
}

.startInput {
    display: none;
}

.startButtonActive, .howToPlay button, .instructionButton, .nameErrorButton {
    width: 150px;
    height: 25px;
    position: absolute;
    top: 210px;
    left: 122.5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    background-color: slategray;
    border: solid white 1px;
    color: white;
}

.nameErrorButton {
    width: 100px;
    height: 20px;
    top: 160px;
    left: 100px;
    opacity: 0.9;
}

.startButton {
    display: none;
}

.startPActive{
    font-size: 39px;
    color: yellow;
    text-align: center;
    line-height: 175px;
}

.startP {
    display: none;
}

.nameError {
    width: 300px;
    height: 200px;
    left: 98px;
    top: 150px;
    line-height: 200px;
    position: absolute;
    opacity: 0.9;
    border: white 2px solid;
    display: none;
    z-index: 4;
}

.nameErrorP {
    font-size: 27px;
    color: red;
    text-align: center;
}

.highscoresHead {
    width: 220px;
    height: 34.4px;
    background-color: darkgray;
    position: absolute;
    left: 0;
    top: -34.4px;
    text-align: center;
    z-index: 3;
    font-weight: bold;
    border-bottom: solid black 1px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.music {
    width: 30px;
    height: 30px;
    background-color: darkgray;
    position: absolute;
    left: 155px;
    top: -50px;
    text-align: center;
    z-index: 3;
    border-right: solid black 1px;
    text-align: center;
    line-height: 30px;
}

 .volume {
    display: none;
    line-height: 30px;
}

.mute {
    line-height: 30px;
}

.musicChoice {
    width: 180px;
    height: 30px;
    background-color: darkgray;
    position: absolute;
    left: 186px;
    top: -50px;
    text-align: center;
    z-index: 3;
    text-align: center;
    line-height: 30px;
    color: #FF3333;
}

.musicChoiceActive p:hover {
    cursor: pointer;
    color: royalblue;
}

.wrongButton {
    background-color: black;
    color: #FF3333;
    font-size: 40px;
    top: 220px;
    left: 79px;
    letter-spacing: 2px;
    text-align: center;
    padding-left: 5px;
    z-index: 4;
    display: none; 
}

.howToPlay {
    width: 400px;
    height: 60px;
    line-height: 125px;
    background-color: black;
    top: 400px;
    left: 50px;
    opacity: 0.9;
    z-index: 2;
    border: white 2px solid;
    display: none;
}

.howToPlay button{
    top: 17.5px;
}

.instruction {
    margin: 10% 10% 10% 30%;
    height: 500px;
    width: 500px;
    border: solid black 3px; 
    position: relative;
    background-color: white;
    z-index: 4;
    position: absolute;
    top: 0;
    display: none;
}

.arrowsImage, .clickImage {
    width: 200px;
    height: 150px;
    position: absolute;
    top: 50px;
    left: 280px;
}

.clickImage {
    left: 30px;
}

.instruction p {
  text-align: center;
  padding: 10px 30px;
}

.secondP {
    position: absolute;
    top: 190px;
}

.horizontalCrushImage, .verticalCrushImage {
    width: 200px;
    position: absolute;
    top: 260px;
    left: 20px;
}

.verticalCrushImage {
    left: 280px;
}

.instructionButton {
    top: 470px;
    left: 175px;
    border: solid black 1px;
}

